<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario de Multas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addMultas()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Cédula del Infractor</ion-label>
        <ion-input type="number" [(ngModel)]="cedula_infractor" name="cedula_infractor" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Placa del Vehículo</ion-label>
        <ion-input type="text" [(ngModel)]="placa_vehiculo" name="placa_vehiculo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Motivo de la Multa</ion-label>
        <ion-input type="text" [(ngModel)]="motivo_multa" name="motivo_multa" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Foto de Evidencia</ion-label>
        <ion-input type="text" [(ngModel)]="foto_evidencia" name="foto_evidencia" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Comentario</ion-label>
        <ion-textarea [(ngModel)]="comentario" name="comentario" required></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nota de Voz</ion-label>
        <ion-input type="text" [(ngModel)]="nota_voz" name="nota_voz" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Latitud</ion-label>
        <ion-input type="number" [(ngModel)]="latitud" name="latitud" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Longitud</ion-label>
        <ion-input type="number" [(ngModel)]="longitud" name="longitud" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="fecha" name="fecha" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hora</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="hora" name="hora" required></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit">Guardar Multa</ion-button>
  </form>
</ion-content>
