ion-toolbar {
    background-color: #3880ff; 
    color: #fff; 
  }
  
  ion-item {
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
    padding: 10px; 
    border-radius: 8px; 
  }
  
  ion-label {
    font-size: 16px;
    margin-bottom: 5px; 
  }